<div class="container">
  <h1>Meet the devs:</h1>
  <div class="well">
    <div class="row">
      <div class="col-md-6">
        <img class='headshot' src="../../assets/img/calla.jpg" alt="Calla Rudolph">
        <h3>Calla Rudolph</h3>
        <h3><a href='https://github.com/callarudolph' target='blank'>github.com/callarudolph</a></h3>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-md-6">
        <img class='headshot' src="../../assets/img/brittany.jpg" alt="Brittany Hardison">
        <h3>Brittany Hardison</h3>
        <h3><a href='https://github.com/kerrbrittany9' target='blank'>github.com/kerrbrittany9</a></h3>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-md-6">
        <img class='headshot' src="../../assets/img/max.jpg" alt="Max Scher">
        <h3>Max Scher</h3>
        <h3><a href='https://github.com/maxobaxo' target='blank'>github.com/maxobaxo</a></h3>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-md-6">
        <img class='headshot' src="../../assets/img/michelle.jpg" alt="Michelle Poterek">
        <h3>Michelle Poterek</h3>
        <h3><a href='https://github.com/poterekm' target='blank'>github.com/poterekm</a></h3>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-md-6">
        <img class='headshot' src="../../assets/img/larry.jpg" alt="Larry Taylor">
        <h3>Larry Taylor</h3>
        <h3><a href='https://github.com/larryjtaylor' target='blank'>github.com/larryjtaylor</a></h3>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-md-6">
        <img class='headshot' src="../../assets/img/jesus.jpg" alt="Jesus Christ">
        <h3>Jesus Christ</h3>
        <h3><a href='https://github.com/jesuschrist' target='blank'>github.com/jesuschrist</a></h3>
      </div>
    </div>
  </div>
</div>
