<br><br>
<div class="container">
  <h2>Here are your saved notes on some cities:</h2>
  <div *ngFor="let city of cities | async">
    <div class="well">
      <h3><em>"{{city.comments}}"</em></h3>
      <h4>-on>{{city.city}}</h4>

      <div class="well">
        Save Comment to Specific Event:
        <!-- <div *ngFor="let event of events | async">
        </div> -->
        <select [(ngModel)]="selectedEvent">
          <option *ngFor="let event of events | async" [ngValue]="event">{{event.name}}</option>
        </select>
        <button (click)="sendCityToEvent(selectedEvent, city)">Save to this event</button>
      </div>
      <button (click)='beginDeletingComment(city)'>Delete Comment</button>
    </div>
  </div>
</div>
