.well {
  background-color: white;
  font-family: 'Arapey', serif;
}

.container {
  font-family: 'Arapey', serif;
}
.borderLine {
  width: 125%;
  padding-right: 25%;
}
#savedCities {
  margin-left: 2%;
}
