#convo-list {
  padding-left: 2%;
}

.well {
  width: 45%;
  float: left;
  height: 500px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
}

#newEventButton {
  background-color: white;
  border: solid 1px grey;
  margin-top: 20px;
}
.container {
  margin-top: 5%;
  font-family: 'Arapey', serif;
  font-size: 16px;
}
