button {
  margin-left: 1%;
}

.container {
  margin-top: 5%;
  font-family: 'Arapey', serif;
}

#pickSource {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}
.well {
  background-color: white;
}
.borderLine {
  width: 125%;
  padding-right: 25%;
}
#savedNews {
  margin-left: 2%;
}

#newsSearch {
  margin-bottom: 20px;
  margin-top: 20px;
}
