<div class="container">
  <h2>What city would you like information on?</h2>
  <form>
    <label for="city">Choose a city:</label>
    <select #city>
      <option value="austin">Austin</option>
      <option value="barcelona">Barcelona</option>
      <option value="berlin">Berlin</option>
      <option value="cairo">Cairo</option>
      <option value="cape-town">Cape Town</option>
      <option value="chicago">Chicago</option>
      <option value="detroit">Detroit</option>
      <option value="florence">Florence</option>
      <option value="havana">Havana</option>
      <option value="ho-chi-minh-city">Ho Chi Minh</option>
      <option value="kiev">Kiev</option>
      <option value="lisbon">Lisbon</option>
      <option value="manchester">Manchester</option>
      <option value="mexico-city">Mexico City</option>
      <option value="mumbai">Mumbai</option>
      <option value="portland-or">Portland</option>
      <option value="rio-de-janeiro">Rio de Janeiro</option>
      <option value="san-francisco-bay-area">San Francisco</option>
      <option value="seoul">Seoul</option>
      <option value="stockholm">Stockholm</option>
      <option value="vancouver">Vancouver, BC</option>
      <option value="zurich">Zurich</option>
    </select><br>
    <button (click)="getCityInfo(city.value); city.value = '';">Get it!</button>
  </form>
  <br>
  <p id="cityConvo">Talking about your hometown or a city that is interesting to you is a great way to drive conversation to something you are confortable talking about. Grab a fun fact or two and practice introducing them. "I really like traveling and I'm new to tech. I just read that Berlin has a thriving tech startup community. What has your experience been with traveling?"</p>
  <div *ngIf="searchDone === true">
    <h1><span class="capitalize"><em>{{selection}}</em></span></h1>
    <div class="selection">
      <div *ngFor="let stat of stats;">
        <div id='stats'>
          <p>{{stat.name}}: {{stat.score_out_of_10 | number : '1.2-2'}}/10</p>
        </div>
      </div>
    </div>
    <br>
    <p id="cityConvo">Step 1 - Data: Choose a few categories that strike you. Don't try to memorize all of the info.</p>
    <p id="cityConvo">Step 2 - Opening: Personalize your intro or response. Even if you've never visited <span class="capitalize">{{selection}}</span> something drew you to it. Don't be afraid to share. "I've always wanted to learn a language and I love Brazilian music. Rio de Janeiro seems like it has a great vacation vibe. Where would you want to travel in South America?"</p>
    <p id="cityConvo">Step 3 - Continuing the conversation: Try to ask open-ended questions. "What's your favorite part of <span class="capitalize">{{selection}}</span>?" versus "Have you ever been to <span class="capitalize">{{selection}}</span>?"</p>
    <p id="cityConvo">Step 4 - Individualize: Add any anecdotal information. People can talk about the weather, sports, etc with anyone. Sharing your personal experience is the first step to a genuine relationship or at minimum keeping someone from falling asleep mid-conversation with you.</p>
    <p id="cityConvo">Step 5 - Tact: Boost your self-confidence by rehearsing with a few friends or writing notes for yourself. If you don't get the reaction you intended...Dont worry! Regroup and try again.</p>
    <label for="city-notes">Write down some notes to save for later.</label><br>
    <textarea #newCityNotes></textarea>
    <br>
    <button (click)="saveCityNotes(newCityNotes.value)">Save notes</button>
  </div>

  <app-saved-cities></app-saved-cities>
</div>
