.capitalize {
  text-transform: capitalize;
}

.container {
  margin-top: 5%;
  font-family: 'Arapey', serif;
}

#cityConvo {
  font-size: 17px;
}

#tips {
  font-size: 16px;
}
button {
  background-color: white;
  border: 1px solid;
}

select {
  background-color: white;
}

.selection {
  background: linear-gradient( rgba(0, 0, 0, .4), rgba(0, 0, 0, .4) ), url("../../assets/img/skyline.jpg");
  height: 550px;
}

#stats {
  color: white;
  margin-left: 20px;
  font-size: 16px;
}
