<h2>List of Relevant Books</h2>
<div *ngFor="let book of childBooks; let i=index">
  <div class="well" *ngIf='i<5'>
    <div class="row">
      <div class="col-md-4">
        <div class="book-info">
          <h4>{{book.volumeInfo.title}}</h4> by
          <span *ngFor="let author of book.volumeInfo.authors; let isLast=last">{{author}}{{isLast ? '' : ', '}}</span>
          <br>
          <br>
          <img src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="Image of Book Cover" />
          <br>
          <br>
          <textarea #newComments placeholder="Add Comments"></textarea>
        </div>
      </div>
      <div class="col-md-8">
        <button (click)="saveBook(book.volumeInfo.title, book.volumeInfo.authors, book.volumeInfo.imageLinks.smallThumbnail, newComments.value)">Save This Book Info</button>
        <div class="book-description">
          <p>{{book.volumeInfo.description}}</p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
