<div class="container">
  <h3>Step 1- Statement: 'I was reading about {{childChoice}} and found this fun fact:''</h3>
  <div *ngFor="let trivia of childTriviaList;">
    <div class="well question">

      <h3><em>{{trivia.question}}</em></h3>
      <ul *ngFor="let incorrect of trivia.incorrect_answers">
        <li>{{incorrect}}?</li>
      </ul>
      <ul>
        <li>No, the correct answer is...</li>
      </ul>
      <h2>{{trivia.correct_answer}}!</h2>
    </div>

    <h3>Step 2- Ask: Do you keep up on any {{childChoice}}?</h3>
    <h3>Step 3- Listen: Pay attention to their response and nod along.</h3>
    <h3>Step 4- If response is positive: Add something about yourself. Maybe riff on your favorite {{childChoice}}.</h3>
    <h3>Step 5- If response is negative or conversation dwindles: Move to the next topic of conversation or ask, "What have you been up to lately?"</h3>
    <h3>Remember: Take turns talking. Breathe, smile, and stay hydrated! Everyone feels awkward in conversation</h3>
    <button (click)="saveTrivia(trivia.question, trivia.incorrect_answers, trivia.correct_answer, childChoice)">Save this trivia</button>
  </div>
</div>
