.well {
  background-color: white;
}
.container {
  margin-top: 5%;
  font-family: 'Arapey', serif;
}
#myBooks {
  width: 48%;
  float: left;
  height: 220px;
  margin-right: 1%;
  margin-left: 1%;
}
button {
  background-color: white;
  border: 1px solid;
}

select {
  background-color: white;
}

#delete {
 padding-bottom: 1px;
 margin-left: 2px;
}
