<div class='container'>
  <div *ngFor="let article of childArticles; let i=index">
    <div class="well" id='article' *ngIf='i<9'>
      <div id='teaser'>
        <h3 id='headline'>{{article.title}}</h3>
        <h4 id='author'>{{article.author}}</h4>
        <p>{{article.publishedAt}}</p>
        <a href={{article.url}} target="_blank"><button id='showArticle'>Show Article</button></a>
        <br>
        <img src="{{article.urlToImage}}" alt="Image for News Story" id='newsImage'/>
        <br>
        <button (click)="saveCurrentEvent(article.title, article.description)" class='saveArticle'>Save Current Event</button>
      </div>
    </div>
  </div>
</div>
